<html>
<head>
  <title>Angular-Controll-Event-Binding-on-Models</title>
</head>
<body>
  <p>Here I'll show a list of possible ways to control event binding on Angular UI-binded models (means Angular is managing the data model and will update UI when data changes)</p>
  
  <h3>through infinity loop with breaking</h3>
  <pre>
    &lt;label&gt;
			&lt;input type="checkbox" ng-model="suspendRestoreCommand.allSelected" ng-change="selectAll()"&gt;
			&lt;span&gt;Select All&lt;/span&gt;
		&lt;/label&gt;
      &lt;label ng-repeat="subscriber in suspendRestoreCommand.subscribers" class="accordion-checkbox checkbox23"&gt;
        &lt;input type="checkbox" ng-model="subscriber.selected" ng-change="selecting()" /&gt;
			&lt;/label&gt;
	</pre>

</body>
</html>
